/*---Global styles-*/

table { border-collapse: collapse; border-spacing: 0; }

/*--------- Anchor styles --------------s------*/
a.black11:link 
{ 
	font-family: Arial;
	color: #000000;
	font-size:11px;
	font-weight:normal;  
	text-decoration: none; 
}
a.black11:visited 
{
	font-family: Arial;
	color: #000000;
	font-size:11px;
	font-weight:normal;  
	text-decoration: none; 
}
a.black11:hover 
{ 
	font-family: Arial;
	color: #000000;
	font-size:11px;
	font-weight:normal;  
	text-decoration: none; 
}
a.black11:active 
{ 
	font-family: Arial;
	color: #000000;
	font-size:11px;
	font-weight:normal;  
	text-decoration: none; 
}


/*a.blue11U:link 
{ 
	color: #0000FF;
	font-size:11px;
	font-weight:bold;  
	text-decoration: none; 
}
a.blue11U:visited 
{
	color: #0000FF; 
	font-size:11px;
	font-weight:bold;  
	text-decoration: none; 
}
a.blue11U:hover 
{ 
	color: #0000FF; 
	font-size:11px;
	font-weight:bold;   
	text-decoration: underline; 
}
a.blue11U:active 
{ 
	color: #0000FF; 
	font-size:11px;
	font-weight:bold;   
	text-decoration: none; 
}*/

A.blue11U:link
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	font-weight:bold;   
	COLOR: #0000FF; 
	TEXT-DECORATION: none;
	text-align: left;
}
A.blue11U:visited
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	font-weight:bold;   
	COLOR: #0000FF; 
	TEXT-DECORATION: none;
	text-align: left;
}
A.blue11U:active
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	font-weight:bold;   
	COLOR: #0000FF; 
	TEXT-DECORATION: none;
	text-align: left;
}
A.blue11U:hover 
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	font-weight:bold;   
	COLOR: #b80000; 
	TEXT-DECORATION: underline;	
	text-align: left;
}

a.redLink11U:link 
{ 
	color: #FF0000;
	font-size:11px;
	font-weight:bold;  
	text-decoration: none; 
}
a.redLink11U:visited 
{
	color: #FF0000; 
	font-size:11px;
	font-weight:bold;  
	text-decoration: none; 
}
a.redLink11U:hover 
{ 
	color: #FF0000; 
	font-size:11px;
	font-weight:bold;   
	text-decoration: underline; 
}
a.redLink11U:active 
{ 
	color: #FF0000; 
	font-size:11px;
	font-weight:bold;   
	text-decoration: none; 
}

a.blue11NU:link 
{ 
	color: #000099;
	font-size:11px;
	text-decoration: none; 
}
a.blue11NU:visited 
{
	color: #000099; 
	font-size:11px;
	text-decoration: none; 
}
a.blue11NU:hover 
{ 
	color: #0000FF; 
	font-size:11px;

	text-decoration: underline; 
}
a.blue11NU:active 
{ 
	color: #0000FF; 
	font-size:11px;
	text-decoration: none; 
}

a.blueNU:link 
{ 
	color: #0000FF;
	font-size:12px;
	font-weight:normal;   
	text-decoration: none; 
}
a.blueNU:visited 
{
	color: #0000FF; 
	font-size:12px;
	font-weight:normal;
	text-decoration: none; 
}
a.blueNU:hover 
{ 
	color: #0000FF; 
	font-size:12px;
	font-weight:normal;
	text-decoration: underline; 
}
a.blueNU:active 
{ 
	color: #0000FF; 
	font-size:12px;
	font-weight:normal;
	text-decoration: none; 
}

a.white10U:link 
{ 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none; 
}
a.white10U:visited 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none; 
}
a.white10U:hover 
{ 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	text-decoration: underline; 
}
a.white10U:active 
{ 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline; 
}

a.blue12U:link 
{ 
	font-family: Arial;
	color: #000099;
	font-size:12px;
	font-weight:bold;  
	text-decoration: none; 
}
a.blue12U:visited 
{
	font-family: Arial;
	color: #000099; 
	font-size:12px;
	font-weight:bold;  
	text-decoration: none; 
}
a.blue12U:hover 
{ 
	font-family: Arial;
	color: #0000FF; 
	font-size:12px;
	font-weight:bold;   
	text-decoration: underline; 
}
a.blue12U:active 
{ 
	font-family: Arial;
	color: #0000ff; 
	font-size:12px;
	font-weight:bold;   
	text-decoration: underline; 
}

a.blue12:link 
{ 
	FONT-FAMILY: Verdana, Verdana, Helvetica, sans-serif; 
	text-decoration: none; 
}
a.blue12:visited 
{
	FONT-FAMILY: Verdana, Verdana, Helvetica, sans-serif; 
	text-decoration: none; 
}
a.blue12:hover 
{ 
	FONT-FAMILY: Verdana, Verdana, Helvetica, sans-serif; 
	text-decoration: underline; 
}
a.blue12:active 
{ 
	FONT-FAMILY: Verdana, Verdana, Helvetica, sans-serif; 
	text-decoration: none; 
}

A.lightBlue12 
{
	COLOR: #0000ff; 
	TEXT-DECORATION: none;
	font-size:12px;
}
A.lightBlue12:hover 
{
	COLOR: #10387c; 
	TEXT-DECORATION: underline;
	font-size:12px;
}

a.blue14U:link 
{ 
	font-family: Arial;
	color: #000099;
	font-size:14px;
	font-weight:bold;  
	text-decoration: none; 
}
a.blue14U:visited 
{
	font-family: Arial;
	color: #000099; 
	font-size:14px;
	font-weight:bold;  
	text-decoration: none; 
}
a.blue14U:hover 
{ 
	font-family: Arial;
	color: #0000FF; 
	font-size:14px;
	font-weight:bold;   
	text-decoration: underline; 
}
a.blue14U:active 
{ 
	font-family: Arial;
	color: #0000ff; 
	font-size:14px;
	font-weight:bold;   
	text-decoration: underline; 
}
a.RightNavi 
{
	PADDING-LEFT: 5px; 
	padding-right: 5px; 
	FONT-FAMILY: Tahoma;
	COLOR: #32769e; 
	FONT-SIZE: 12px; 
	FONT-WEIGHT: bold
}
a.RightNavi 
{
	FONT-FAMILY: Tahoma;
	COLOR: #32769e; 
	FONT-SIZE: 12px; 
	TEXT-DECORATION: none
}
a.RightNavi:hover 
{
	FONT-FAMILY: Tahoma; 
	COLOR: #b80000; 
	FONT-SIZE: 12px; 
	TEXT-DECORATION: none
}

A.blue12x:link
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blue12x:visited
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blue12x:active
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blue12x:hover 
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	COLOR: #b80000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;	
}

A.blue11x:link
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #1f4179; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blue11x:visited
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #1f4179; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blue11x:active
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #1f4179; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blue11x:hover 
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #b80000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;	
}


A.blue10x:link
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blue10x:visited
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blue10x:active
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blue10x:hover 
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	COLOR: #b80000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;	
}

A.blueL11x:link
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blueL11x:visited
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blueL11x:active
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.blueL11x:hover 
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #b80000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;	
}

A.menuLinkL11:link
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}
A.menuLinkL11:visited
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	
}
A.menuLinkL11:active
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	COLOR: #07c; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	background-color: #FFFF66;
}
A.menuLinkL11:hover 
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	COLOR: #b80000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;	
}
/*--------- Anchor styles --------------E------*/



/*--------- table styles --------------s------*/

.tableBorder800 td
{
	font-family: Arial;
	font-size: 11px;
	border-right: #C0C0C0  1px solid;/*#B8B8B8 #CCCCCC*/ 
	border-bottom: #B8B8B8 1px solid;
	text-indent:3px;
	empty-cells: show;
}
.tableBorder81 td
{
	font-family: Arial;
	font-size: 11px;
	border-top: #C0C0C0 1px solid;
	text-indent:3px;
	empty-cells: show;
}
.tableBorder800 tr
{
	border-left: #C0C0C0 1px solid;
	height: 19px;
	text-align:center;
}
.tableBorder800
{
	width: 99%;
	border-collapse: collapse;
 	border-left: #C0C0C0 1px solid;
 	border-right: #C0C0C0 1px solid;
	border-top: #C0C0C0 1px solid;
}

.tableBorder12 td
{
	font-family: Arial;
	font-size: 12px;
	border-right: #C0C0C0 1px solid;
	border-bottom: #C0C0C0 1px solid;
	text-indent:3px;
	empty-cells: show;
}

.tableBorder12 tr
{
	border-left: #C0C0C0 1px solid;
	height: 19px;
	text-align:center;
}
.tableBorder12
{
	width: 99%;
	border-collapse: collapse;
 	border-left: #C0C0C0 1px solid;
 	border-right: #C0C0C0 1px solid;
	border-top: #C0C0C0 1px solid;
}

.tableBorder50
{
	width: 50%;
	border-collapse: collapse;
 	border-left: #C0C0C0 1px solid;
 	border-right: #C0C0C0 1px solid;
	border-top: #C0C0C0 1px solid;
}
.tableBorder50 td
{
	font-family: Arial;
	font-size: 11px;
	border-right: #C0C0C0 1px solid;
	border-bottom: #C0C0C0 1px solid;
	text-indent:3px;
	empty-cells: show;
}

.tableBorder70 tr
{
	border-left: #000000 1px solid;
	height: 19px;
	text-align:center;
}
.tableBorder70
{
	width: 70%;
	border-collapse: collapse;
 	border-left: #000000 1px solid;
 	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
}
.tableBorder70 td
{
	font-family: Arial;
	font-size: 11px;
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
	text-indent:3px;
	empty-cells: show;
}

.tableBorder10 tr
{
	border-left: #000000 1px solid;
	height: 19px;
	text-align:center;
}
.tableBorder10
{
	width: 10%;
	border-collapse: collapse;
 	border-left: #000000 1px solid;
 	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
}
.tableBorder10 td
{
	font-family: Arial;
	font-size: 11px;
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
	text-indent:3px;
	empty-cells: show;
}

.tableBorder50 tr
{
	border-left: #C0C0C0 1px solid;
	height: 19px;
	text-align:center;
}

table.styleBlueHeader800
{
	border-color:#CE0000;
	background-color: #f5f5f5;
	BORDER-RIGHT:0px solid; 
	BORDER-TOP: 0px solid; 
	BORDER-LEFT:0px solid; 
	BORDER-BOTTOM: 0px solid;
	width:99%;
	text-align:center;
}
table.styleBlueHeader800 td
{
	empty-cells: show;
}

table.styleLinkBar100
{
	border-color:#CE0000;
	background-color:#FFFFFF;
	BORDER-RIGHT:0px solid; 
	BORDER-TOP: 0px solid; 
	BORDER-LEFT:0px solid; 
	BORDER-BOTTOM: 0px solid;
	width:100%;
	text-align:center;
	padding: 0px;
	border: 0px;
}
table.styleLinkBar100 td
{
	BORDER-RIGHT:0px; 
	BORDER-TOP: 0px; 
	BORDER-LEFT:0px; 
	BORDER-BOTTOM: 0px;
}
.style800
{
	width:99%;
	empty-cells: show;
}
.style800 td
{
	empty-cells:show;
}

.styleNoborder
{
	width:99%;
}
.styleNoborder td
{
	empty-cells:show;
	border-color: #FFFFFF;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	border-bottom: #000000 0px solid;
	border-top:#000000 0px solid;
}

.tableWait td
{
	font-family: Arial;
	font-size: 11px;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-top:#000000 1px solid;
	text-indent:3px;
}
.tableWait tr
{
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-top:#000000 1px solid;
}
.tableWait 
{
	background: #FFFFFF;
}

.tableBorder100P
{
	width: 100%;
	border-collapse: collapse;
 	border-left: #C0C0C0 1px solid;
 	border-right: #C0C0C0 1px solid;
	border-top: #C0C0C0 1px solid;
}
.tableBorder100P td
{
	font-family: Arial;
	font-size: 11px;
	border-right: #C0C0C0 1px solid;
	border-bottom: #C0C0C0 1px solid;
	text-indent:3px;
	empty-cells: show;
}
.tableBorder100P tr
{
	border-left: #C0C0C0 1px solid;
	height: 19px;
	text-align:center;
}
/*--------- table styles --------------E------*/

/*-------------- Message (Error,Success,Warning)--------------- Starts --------*/
table.redErrorMsgTable
{
	BORDER-RIGHT: #CE0000 1px solid; 
	BORDER-TOP: #CE0000 1px solid; 
	BORDER-LEFT: #CE0000 1px solid; 
	BORDER-BOTTOM: #CE0000 1px solid;
	width:80%;
}
table.greenSuccMsgTable
{
	BORDER-RIGHT: #008800 1px solid; 
	BORDER-TOP: #008800 1px solid; 
	BORDER-LEFT: #008800 1px solid; 
	BORDER-BOTTOM: #008800 1px solid;
	width:80%;
}
table.blueWarnMsgTable
{
	BORDER-RIGHT: #0000D7 1px solid; 
	BORDER-TOP: #0000D7 1px solid; 
	BORDER-LEFT: #0000D7 1px solid; 
	BORDER-BOTTOM: #0000D7 1px solid;
	width:80%;

}
.redError11L
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	font-weight:normal;
	font-size:11px;
	color:#CE0000;
}

.greenSuccess11L
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	font-weight:normal;
	font-size:11px;
	color:#007900;
}

.blueWarning11L
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	font-weight:normal;
	font-size:11px;
	color:#0000D7;
}
.blueMsg
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background:#0000D7;
}
.redMsg
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background:#CE0000;
}
.greenMsg
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*color:#FFFFFF;*/
	/*background:#007900;*/
}

.white11L
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:left;
	vertical-align: middle;
}
.white11C
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
}
/*-------------- Message (Error,Success,Warning)--------------- Ends --------*/


/*--------- Train Types Classes styles --------------s------*/

.trainTypeRAJ 
{
	color:#FF480B;	
	text-decoration: none;
}
.trainTypeSHT
{
	color:#006AD5;	
	text-decoration: none;
}
.trainTypeGBR
{
	color:#008000;
	text-decoration: none;		
}
.trainTypeSUF
{
	color:#D56A00;	
	text-decoration: none;
}
.trainTypeMEX
{
	color:#8B4513;	
	text-decoration: none;	
}
.trainTypePAS
{
	color:#000000;	
	text-decoration: none;	
}
.trainTypeHSP
{
	color:#000000;	
	text-decoration: none;	
}
.trainTypeDRNT
{
	color:#000000;	
	text-decoration: none;	
}
.trainTypeEMU
{
	color:#000000;	
	text-decoration: none;	
}
.trainTypeHSP
{
	color:#000000;	
	text-decoration: none;	
}
.trainTypeJSH
{
	color:#006AD5;	
	text-decoration: none;	
}
.trainTypeMEMU
{
	color:#000000;	
	text-decoration: none;	
}
.trainTypeSUB
{
	color:#000000;	
	text-decoration: none;	
}
.trainTypeDMU
{
	color:#000000;	
	text-decoration: none;	
}



.dayOfRunStyleY
{
	color:#009900;
	font-weight:bold; 
	
	/*font-size: 9px;
	background: url("../images/train_run.png") no-repeat scroll center center;
    height: 14px;
    width: 14px;*/
}
.dayOfRunStyleX
{
	
	color:#C0C0C0 ;
	font-size: 9px;
	
	/*font-size: 9px;
	background: url("../images/train_not_run.png") no-repeat scroll center center;
    height: 14px;
    width: 14px;*/
}

.classOfTravelStyleY
{
	color:#009900;
	font-weight:bold; 
	
	/*font-size: 9px;
	background: url("../images/train_run.png") no-repeat scroll center center;
    height: 14px;
    width: 14px;*/
}
.classOfTravelStyleX
{
	color:#C0C0C0 ;
	font-size: 9px;
	
	/*font-size: 9px;
	background: url("../images/train_not_run.png") no-repeat scroll center center;
    height: 14px;
    width: 14px;*/
}
/*--------- Train Types Classes styles --------------e------*/


/*--------- tr styles --------------s------*/


.white11
{
	background-color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
}

.lightGrey
{
	/*background-color: #C0C0C0;*/
	background-color: #f5f5f5;
	font-family: Arial;
	font-size: 12px;
	text-indent:3px;
	text-align:center;
}
.dullGrey
{
	font-size: 10px;
	text-indent:3px;
	text-align:center;
	color:#848484; 
}
.lightWhite
{
	/*background-color: #C0C0C0;*/
	background-color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	text-indent:0px;
	text-align:center;
}

.darkGrey
{
	background-color: #808080;
}

.blueSpl11
{
	color:#0080FF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	text-align:left;
}

.lightBlue12NL
{
	background-color: #C2DFFF;
	font-family: Arial;
	font-size: 12px;
	text-indent:3px;
	text-align: left;
	font-weight: bold;
	vertical-align: middle;
}
.lightBlue12NC
{
	background-color: #C2DFFF;
	font-family: Arial;
	font-size: 12px;
	text-indent:3px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}
.lightBlue12NR
{
	background-color: #C2DFFF;
	font-family: Arial;
	font-size: 12px;
	text-indent:3px;
	text-align: right;
	font-weight: bold;
	vertical-align: middle;
}

.lightBlue12C
{
	background-color: #C2DFFF;
	font-family: Arial;
	font-size: 12px;
	text-indent:3px;
	text-align: center;
	font-weight: normal;
	vertical-align: middle;
}

.lightBlue10NC
{
	background-color: #C2DFFF;
	font-family: Arial;
	font-size: 10px;
	text-indent:3px;
	text-align: center;
    font-weight: bold;
	vertical-align: middle;
}
.bluedark12CB
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none; 
	border-style:none;
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF; 
	background-color:#6699CC;
	text-align:center;
}

.basic
{
	
	font-family: Arial;
	font-size: 12px;
	text-indent:3px;
	text-align: center;
	vertical-align: middle;
}

.lightGreyNarrow
{
	background-color: #f5f5f5;
	font-family: Arial;
	font-size: 12px;
	text-indent:3px;
	text-align: center;
	vertical-align: middle;
}



.rowRedFont
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#CE0000;
}
/*--------- tr styles --------------E------*/



/*--------- td styles --------------S------*/
.black11NL
{
	font-family: Arial;
	font-size: 11px;
	text-indent:3px;
	text-align: left;
}
.black12NL
{
	font-family: Arial;
	font-size: 12px;
	text-indent:3px;
	text-align: left;
}

.black12NC
{
	font-family: Arial;
	font-size: 12px;
	text-indent:3px;
	text-align: center;
}

.black12NR
{
	font-family: Arial;
	font-size: 12px;
	text-indent:3px;
	text-align: right;
}
.black10NL
{
	font-family: Arial;
	font-size: 10px;
	text-indent:3px;
	text-align: left;
}

.black10NC
{
	font-family: Arial;
	font-size: 10px;
	text-indent:3px;
	text-align: center;
}

.black10NR
{
	font-family: Arial;
	font-size: 10px;
	text-indent:3px;
	text-align: right;
}

.blueSky12L
{
	FONT-FAMILY: Tahoma;
	COLOR: #32769e; 
	FONT-SIZE: 12px; 
	text-align: left;
}
.blueSky12C
{
	FONT-FAMILY: Tahoma;
	COLOR: #32769e; 
	FONT-SIZE: 12px; 
	text-align: center;
}
.blueSky12R
{
	FONT-FAMILY: Tahoma;
	COLOR: #32769e; 
	FONT-SIZE: 12px; 
	text-align: right;
}

.blueSky16L
{
	FONT-FAMILY: Tahoma;
	COLOR: #32769e; 
	FONT-SIZE: 16px; 
	text-align: left;
}
/*--------- td styles --------------E------*/




/*----------- Blue Shades Styles ------------- Starts ---------*/
.bluesp20BL
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#006699;
	FONT-WEIGHT: bold;
	text-align:left;
	font-weight:bold;
	font-size:20px;
}

.bluesp20BC
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#006699;
	FONT-WEIGHT: bold;
	text-align:center;
	font-weight:bold;
	font-size:20px;
}

.bluesp20BR
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#006699;
	FONT-WEIGHT: bold;
	text-align:right;
	font-weight:bold;
	font-size:20px;
}

.blueHelp
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000080;
	text-align:left;
	font-weight:normal;
}

.blueRow10NL
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:#000099;
	text-align:left;
}

.blueRow10NC
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:#000099;
	text-align:center;
}

.blueRow10NR
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:#000099;
	text-align:right;
}

.blueRow10BL
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#000099;
	text-align:left;
}

.blueRow10BC
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#000099;
	text-align:center;
}

.blueRow10BR
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#000099;
	text-align:right;
}

.blueRow11NL
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000099;
	text-align:left;
}

.blueRow11NC
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000099;
	text-align:center;
}

.blueRow11NR
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000099;
	text-align:right;
}

.blueRow11BL
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000099;
	text-align:left;
}

.blueRow11BC
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000099;
	text-align:center;
}

.blueRow11BR
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000099;
	text-align:right;
}


.blueRow12NL
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000099;
	text-align:left;
}

.blueRow12NR
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000099;
	text-align:right;
}

.blueRow12NC
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000099;
	text-align:center;
}
.blueRow12BL
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000099;
	text-align:left;
}
.blueRow12BC
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000099;
	text-align:center;
}
.blueRow12BR
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000099;
	text-align:right;
}

.blueRow14NL
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:normal;
	color:#000099;
	text-align:left;
}

/*----------- Train Status Styles ------------- Starts ---------*/
.trnstatusMKUP
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#007900;
}
.trnstatusBT
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#007900;
}

.trnstatusRT
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#0000D7;
}
.trnstatusNLT
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#0000D7;
}

.trnstatusLT
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#CE0000;
}
/*----------- Train Status Styles ------------- Ends ---------*/


/*----------- Blue Shades Styles ------------- Ends ---------*/

.blackNL
{
	FONT-FAMILY: Verdana, Verdana, Helvetica, sans-serif; 
	FONT-SIZE: 60%;
	vertical-align:middle;
	COLOR: #000000; 
	text-align: left;
}
.black11NL
{
	FONT-FAMILY: Verdana, Verdana, Helvetica, sans-serif; 
	FONT-SIZE: 11px;
	vertical-align:middle;
	COLOR: #000000; 
	text-align: left;
}
.black11NC
{
	FONT-FAMILY: Verdana, Verdana, Helvetica, sans-serif; 
	FONT-SIZE: 11px;
	vertical-align:middle;
	COLOR: #000000; 
	text-align: center;
}
.black11NR
{
	FONT-FAMILY: Verdana, Verdana, Helvetica, sans-serif; 
	FONT-SIZE: 11px;
	vertical-align:middle;
	COLOR: #000000; 
	text-align: right;
}
.black12NL
{
	FONT-FAMILY: Verdana, Verdana, Helvetica, sans-serif; 
	FONT-SIZE: 12px;
	vertical-align:middle;
	COLOR: #000000; 
	text-align: left;
}

.black12NR
{
	FONT-FAMILY: Verdana, Verdana, Helvetica, sans-serif; 
	FONT-SIZE: 12px;
	vertical-align:middle;
	COLOR: #000000; 
	text-align: right;
}
.reddark12L
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#F30000; 
	FONT-WEIGHT: bold;
	text-align:left;
	font-weight:bold;
	font-size:12px;
}
.reddark12C
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#F30000; 
	FONT-WEIGHT: bold;
	text-align:center;
	font-weight:bold;
	font-size:12px;
}
.reddark12R
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#F30000; 
	FONT-WEIGHT: bold;
	text-align:right;
	font-weight:bold;
	font-size:12px;
}
.greendark12C
 {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#00F300; 
	line-height:16px;
	font-weight:bold;
	text-align:center; 
}
.greendark12L
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#007900; 
	text-align:left;
	font-weight:bold;
	font-size:12px;
}
.greendark12C
 {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#007900; 
	line-height:16px;
	font-weight:bold;
	text-align:center; 
}
.greendark12R
 {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#007900; 
	line-height:16px;
	font-weight:bold;
	text-align:right; 
}

.trainCauseP
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#CE0000;
}
.trainCauseS
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#0000D7;
}
.trainStatusLT
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#CE0000;
}
.trainStatusBT
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#007900;
}
.trainStatusRT
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#0000D7;
}

.redS11L
{
	font-family:Arial;
	text-align:left;
	font-weight:normal;
	font-size:11px;
	color:#CE0000;
}
.redS11C
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#CE0000;
}
.redS11R
{
	font-family:Arial;
	text-align:right;
	font-weight:normal;
	font-size:11px;
	color:#CE0000;
}

.red11L
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	font-weight:normal;
	font-size:11px;
	color:#CE0000;
}
.red11C
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#CE0000;
}
.red11R
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	font-weight:normal;
	font-size:11px;
	color:#CE0000;
}

.green11L
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	font-weight:normal;
	font-size:11px;
	color:#007900;
}
.green11C
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#007900;
}
.green11R
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	font-weight:normal;
	font-size:11px;
	color:#007900;
}

.greenS11L
{
	font-family:Arial;
	text-align:left;
	font-weight:normal;
	font-size:11px;
	color:#007900;
}
.greenS11C
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#007900;
}
.greenS11R
{
	font-family:Arial;
	text-align:right;
	font-weight:normal;
	font-size:11px;
	color:#007900;
}
.blueS11L
{
	font-family:Arial;
	text-align:left;
	font-weight:normal;
	font-size:11px;
	color:#0000D7;
}
.blueS11C
{
	font-family:Arial;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#0000D7;
}
.blueS11R
{
	font-family:Arial;
	text-align:right;
	font-weight:normal;
	font-size:11px;
	color:#0000D7;
}
.blue11L
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	font-weight:normal;
	font-size:11px;
	color:#0000D7;
}
.blue11C
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	font-weight:normal;
	font-size:11px;
	color:#0000D7;
}
.blue11R
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	font-weight:normal;
	font-size:11px;
	color:#0000D7;
}
.rowbackcolor
{
	background-color: #ccffff;
}
.rowbackRed {
  background-color: #ffeeee;
}
.rowbackYellow {
  background-color: #FFFF66;
}
.autocomplete {
    font-family: Tahoma;
    font-size: 8pt;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    cursor: default;
    overflow: auto;
    overflow-x: hidden;
    text-align:left;
}

.autocomplete_item {
    padding: 1px;
    padding-left: 5px;
    color: black;
    width: 100%;
}

.autocomplete_item_highlighted {
    padding: 1px;
    padding-left: 5px;
    color: white;
    background-color: #4682B4;
}
.redText10L
 {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#FF0000; 
	line-height:16px;
	text-align:left; 
}
.redText10C
 {
	font-family: Arial; 
	font-size:10px; 
	color:#FF0000; 
	line-height:16px;
	text-align:center; 
}
.redText10R
 {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#FF0000; 
	line-height:16px;
	text-align:right; 
}
.redText11L
 {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color:#FF0000; 
	line-height:16px;
	text-align:left; 
}
.redText11C
 {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color:#FF0000; 
	line-height:16px;
	text-align:center; 
}
.redText11R
 {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color:#FF0000; 
	line-height:16px;
	text-align:right; 
}
.redText12L
 {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#FF0000; 
	line-height:16px;
	text-align:left; 
}
/*--Traction class--*/
.tractionE
 {
	color:#006600; 
	text-align:center; 
}
.tractionD
 {
	color:#0000FF; 
	text-align:center; 
}
.tractionDE
 {
	color:#660066; 
	text-align:center; 
}

.bluetxtsmall {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #4a608b; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.secBlueBg {
	BACKGROUND-IMAGE: url(../images/Header_bg.gif); BACKGROUND-REPEAT: repeat-x
}
.sectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #1f4179; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dotBlueHeadVertLine {
	BACKGROUND-IMAGE: url(../images/seperator_head.gif); BACKGROUND-REPEAT: repeat-y
}
.blueTextSmNormal {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #1f4179; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.labelNormal {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #1f4179; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dotBlueVertLine {
	BACKGROUND-IMAGE: url(../images/seperator_blue.gif); BACKGROUND-REPEAT: repeat-y
}
.bgloginBox {
	BACKGROUND-COLOR: #dfe0eb
}
.errorTextBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.errorText {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gray {
	FONT-SIZE: 11px; COLOR: #737a82; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.inputText {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.linkNormal:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #1f4179; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.linkNormal:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #1f4179; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.linkNormal:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #1f4179; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.linkNormal:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #1f4179; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyText {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.blue1 {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.blue1:hover {
	COLOR: #246ab9; TEXT-DECORATION: none
}

.NOCOLOR1 
{
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.UB {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.MB {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.LB {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.SL {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.SU {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.SM {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.W {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.M {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.A {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.UB {
	BACKGROUND-COLOR: #66cc66
}
.MB {
	BACKGROUND-COLOR: #ffcc33
}
.LB {
	BACKGROUND-COLOR: #66cccc
}
.SL {
	BACKGROUND-COLOR: #ff9966
}
.SM {
	BACKGROUND-COLOR: #6666ff
}
.SU {
	BACKGROUND-COLOR: #cc99cc
}
.W {
	BACKGROUND-COLOR: #cc99cc
}
.M {
	BACKGROUND-COLOR: #66cc66
}
.A {
	BACKGROUND-COLOR: #66cccc
}

.wpsGpFilterLabel {
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #d8dfef;
    background-image: url("images/grpfilter_background.gif");
    background-repeat: repeat-x;
    background-position: left top;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #3970B1;
    border-bottom-color: #8090a0;
}
.wpsGpFilter {
    BACKGROUND-COLOR: #d8dfef;
    background-image: url("images/grpfilter_background.gif");
    background-repeat: repeat-x;
    background-position: left top;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #3970B1;
    border-right-color: #3970B1;
    border-bottom-color: #8090a0;
}


.ask4
{
 	FONT-WEIGHT: normal; 
 	FONT-SIZE: 11px; 
 	COLOR: #000000; 
 	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; 
 	
 	BACKGROUND-COLOR: #FAF8CC;
}
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 10px;
	line-height: 16px;
	overflow: hidden;
}


.ac_loading {
	background: white url('../images/indicator.gif') right center no-repeat;
}


.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #328CD6;
	color: white;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	padding:3px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}


.ajay1 {
	FONT-SIZE: 13px; 
	COLOR: #461E8B;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	font-weight:bold;
}
.ajay1RED {
	FONT-SIZE: 13px; 
	COLOR: RED; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	font-weight:bold;
}
.ajay11 {
	FONT-SIZE: 13px; 
	COLOR: #461E8B; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	font-weight:bold;
	text-align:left
}
.ajay2 {
	FONT-SIZE: 16px; 
	COLOR: #461E8B; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	font-weight:bold;
}
.ajay2a {
	FONT-SIZE: 13px; 
	COLOR: #461E8B; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	font-weight:bold;
}

.ajay3 {
	FONT-SIZE: 10px; 
	COLOR: #461E8B; 
	FONT-FAMILY: Verdana; 
	font-weight:bold;
}
.ajay4 {
	FONT-SIZE: 12px; 
	COLOR: #461E8B; 
	FONT-FAMILY: Verdana; 
	font-weight:bold;
}





.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 19px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 19px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 8px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 53px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}



